body {
  /* background: linear-gradient(45deg, #37ecba, #72afd3);
  background: linear-gradient(45deg, #00c6fb, #005bea);
  background: linear-gradient(45deg, #13547a, #80d0c7);
  background: linear-gradient(45deg, #30cfd0, #330867); */
}
